@import "tailwindcss";

:root {
  --color-deep-blue: #061d49;
  --color-soft-blue: #6380a8;
  --color-light-blue: #a3d4f2;
  --color-gold: #ddb97b;
  --color-off-white: #f4ebdf;
}

body {
  background-color: var(--color-off-white);
  color: var(--color-deep-blue);
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 80px;
}
